html {font-family: 'Raleway', sans-serif;}
body {background-image: linear-gradient(to left, rgb(93, 145, 175) , rgb(9, 80, 102));}


/* Dheep Shemare Web Development */
.name {
    color: rgb(224, 28, 28);
    position: absolute;
    left: 10%;
    top: 10%;
    border-bottom: white solid 2px;
    padding-bottom: 6px;
}


/* My image*/
.home-image{
    position: absolute;
    right: 10%;
    top: 8%;
    border-radius: 50%;
    border: solid white 2px;
}


/* Project list div position */
.project-list-div {
    position: absolute;
    top: 22%;
    left: 12%;
}

/* Projct list items styles */
.project-list-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 3em;
    font-size: 1.1em;
}


/* hovers for project list items */
.project-list-item:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}


/* contact div position */
.contact-div {    
    position: absolute;
    right: 13.5%;
    top: 35%;
    text-align: center;
}

/* contact list style - linked in Email GitHub */
.contact-list-item {
    list-style: none;
    text-align: center;
    line-height: 3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;

}

/* hovers for contact list items */
.contact-list-item:hover {
    padding-bottom: 2px;
    border-bottom: white solid 1px;
}







                            /* RESPONSIVE DESIGN  */


/* Media query for .name */
@media only screen and (max-width: 480px) {
    .name {
        position: absolute;
        top: 0%;
        left: 1%;
        border: none;
        text-align: center;
    }
}


/* Media query for .home-image*/
@media only screen and (max-width: 480px) {
    .home-image {
       display: none;
        }
    }


/* Media query for .contact*/
@media only screen and (max-width: 480px) {
    .contact {
        text-align: center;
        position: absolute;
       
        }
    }

/* Media query for .list*/
@media only screen and (max-width: 480px) {
    .list {
        text-align: center;
        left: 3%;
    }
}










                            /* STYLES FOR OTHER PAGES */



/* title positions */
.page-title {
    display: inline;
    color: white;
}


/* Project infos */
.heading-info {
    color: white;
    position: absolute;
    left: 10%;
    top: 10%;
    padding-bottom: 6px;
}

/* BBC original position */
.bbc-original {
    position: absolute;
    top: 80%;
    left: 25%;
    border: solid white 5px;

}

/* BBC replica position */
.bbc-replica {
    position: absolute;
    top: 27%;
    left: 25%;
    border: solid white 5px;
}

/* BBC 'original' section tag */
.section {
    position: absolute;
    bottom: 7%;
    left: 10%;
    color: white;
}

/* Waves image position */
.waves-image {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    border: solid white 5px;
}