html {font-family: 'Raleway', sans-serif;}
body {background-image: linear-gradient(to left, rgb(93, 145, 175) , rgb(9, 80, 102));}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}


.title-box {
    align-items: flex-end;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 4em;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5em;
}

/* Dheep Shemare Web Development */
.name {
    color: rgb(255, 255, 255);
    border-bottom: white solid 2px;
    padding-bottom: 6px;
}


/* My image*/
.home-image{
    border-radius: 50%;
    border: solid white 2px;
}

/* My image for mobile */
.home-image-mobile {
    border-radius: 50%;
    border: solid white 2px;
    display:none;
    width:7em;
    height:7em;
}


/* Project list div position */
.project-list-div {
    display: flex;
    flex-direction: column;
}

/* Projct list items styles */
.project-list-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 3em;
    font-size: 1.1em;
}


/* hovers for project list items */
.project-list-item:hover {
    font-weight: bold;
}


/* contact div position */
.contact-div {    
    text-align: center; 
}

/* contact list style - linked in Email GitHub */
.contact-list-item {
    line-height: 3em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;

}

/* hovers for contact list items */
.contact-list-item:hover {
    padding-bottom: 2px;
    border-bottom: white solid 1px;
}

.line-break-mob { 
    display:none;
}





                            /* RESPONSIVE DESIGN  */



/* Media query for .name */
@media only screen and (max-width: 480px) {
    .container {
        padding: 0;
        flex-direction: column;
        height: 100vh;
    }

    .line-break-mob {
        display: flex
    }

    .title-box {
        width: 100%;
        text-align: center;
        
    }

    .name {
        width: 100%;
        text-align: center;
        border: none;
        display: inline-block;
    }

    .home-image-mobile {
    border-radius: 50%;
    border: solid white 2px;
    display: flex
    }

    .home-image {
    display: none;
    }

    .project-list-div {
        text-align: center;
    }

    .contact-div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        background-color: rgb(32 25 20 / 48%);
    }


    .box1, .box2 {
        margin: 0%;
    }
}

                            /* STYLES FOR OTHER PAGES */



.page-title {
    color: white;
    font-size: 4vw;
}


.heading-info {
    color: white;
  
}

.bbc-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bbc-text {
    display: flex;
    text-align: left;
    width: 30vw;
    align-items: center;

}

.line-height {
    line-height: 1.9;

}

.bbc-images {
    display: flex;
    flex-direction: column;
    margin-block-end: 5px;
    text-align: center;
    font-weight: bold;
}

.external-project-link {
    background: rgb(252, 252, 252);
    color: black;
    padding: 10px;
    text-decoration: none;
    
}


