html {font-family: 'Raleway', sans-serif;}
body {background-image: linear-gradient(to left, rgb(93, 145, 175) , rgb(9, 80, 102));}


/* Dheep Shemare */
.name {
    color: white;
    position: absolute;
    left: 10%;
    top: 10%;
    border-bottom: white solid 2px;
    padding-bottom: 6px;
}

/* My Pic*/
.home-image{
    position: absolute;
    right: 10%;
    top: 8%;
    border-radius: 50%;
    border: solid white 2px;
}

/* List div position */
.list {
    position: absolute;
    top: 20%;
    left: 12%
}


/* list items */
li {
    list-style: none;
    font-size: 1em;
    padding-top: 4vw;
    
}

/* list links */
a {
    color: white;
    text-decoration: none;
}

/* hovers for a in list */
a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bolder;
    padding: 10px;
}

h2 {
    display: inline;
    color: white;
    padding-right: 1em;
}

/* linked in Email GitHub */
.contact {    
    position: absolute;
    bottom: 14%;
    right: 12%;
    text-align: right;
}

/* Project infos */
.heading-info {
    color: white;
    position: absolute;
    left: 10%;
    top: 10%;
    padding-bottom: 6px;
}

.bbc-original {
    position: absolute;
    top: 80%;
    left: 25%;
    border: solid white 5px;

}

.bbc-replica {
    position: absolute;
    top: 27%;
    left: 25%;
    border: solid white 5px;
}

/* BBC 'original' tag */
.section {
    position: absolute;
    bottom: 7%;
    left: 10%;
    color: white;
}

